<div>
  <mat-toolbar color="primary">
    <button mat-icon-button class="icon" aria-label="home" title="home">
      <mat-icon>home</mat-icon>
      <span class="button-text">בית</span>
    </button>
    <button mat-icon-button class="icon" aria-label="gallery" title="גלריה">
      <mat-icon>collections</mat-icon>
      <span class="button-text">גלריה</span>
    </button>
    <button mat-icon-button class="icon" aria-label="products" title="מוצרים">
      <mat-icon>inventory</mat-icon>
      <span class="button-text">מוצרים</span>
    </button>
    <button mat-icon-button class="icon" aria-label="prices" title="צור קשר">
      <mat-icon>perm_phone_msg</mat-icon>
      <span class="button-text">צור קשר</span>
    </button>
    <button mat-icon-button class="icon" aria-label="about" title="אודות">
      <mat-icon>auto_stories</mat-icon>
      <span class="button-text">אודות</span>
    </button>
    <span class="spacer"></span>

    <button mat-icon-button class="icon" aria-label="share">
      <mat-icon>login</mat-icon>
      <span class="button-text"></span>
      כניסה
    </button>
  </mat-toolbar>
</div>
